html, body {
    margin: 0;   
    min-height: 100%;
    overflow-x: hidden;
}

#root {
width: 100vw;
  padding: 0;
  background-image: url("/src/assets/image/pushup.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed; 
}

.total-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;            
    top: 0;
    position: fixed;
    margin-top: 30px;
    text-align: center;
}

.box {
    background-color: rgb(100, 100, 180);
    padding: 20px;
    max-width: max-content;   
    text-align: center; 
}

table, td, th {
    border: 2px solid; 
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
}
.Modal{
  max-height: 90vh;
  position: fixed;
  top: 15vh;
  background: rgba(255, 255, 255,0.97);
  padding: 4vw;
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}
.activityBox{background-color: rgba(255, 255, 255,0.95);
    margin: 0 1.2vw;
    padding: 20px;
    max-width: max-content;
    text-align: center;
    border-radius: 18px;
    box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.3);
justify-content: center;}
.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform:capitalize;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  .recommendation-data{
    display: flex;
    gap: 9vw;
  }
  .container{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
   height: 100vh;
    /* max-height: 100vh;  */
    overflow: auto;
   
  }
  .form{
    
    display: flex;
    justify-content: space-around;
    flex-direction:column;
    gap:15px;
    background: rgba(255, 255, 255,0.92);
  padding:1.5vw 4vw;
  border-radius: 16px;
  justify-content: center;
  font-size: 1.3em;
  
 
  }